version: '3.8'
services:
  mariadb:
    image: mariadb:11.7.2
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=demo
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - app_network

  spring-boot-app:
    build:
      context: .
      dockerfile: ./spring-boot-app/Dockerfile
    depends_on:
      - mariadb
    networks:
      - app_network
    restart: on-failure

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - spring-boot-app
    ports:
      - "80:80"
    networks:
      - app_network

volumes:
  mysql:

networks:
  app_network:
