@if (products().length > 0) {
  <mat-list>
    @for (product of products(); let i = $index; track product.id) {
      <mat-list-item color="primary">
        <h4 matListItemTitle><span>{{ i + 1 }}. </span><span>{{ product.name }}</span></h4>
        <p matListItemLine>{{ product.description }}</p>
        <p matListItemMeta>
          <button mat-icon-button color="warn" (click)="deleteProduct(product)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="updateProduct(product)">
            <mat-icon>update</mat-icon>
          </button>
        </p>
      </mat-list-item>
    }
  </mat-list>
} @else {
  <div class="no-products-message">
    <mat-icon color="accent" style="vertical-align: middle;">info</mat-icon>
    <span>No products to list yet! Why not add one?</span>
  </div>
}
